@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss";

:root {
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
  background-color: #F7F4F0;
  color: #44403C;
  height: 100%;
}
